{% extends 'SamsonFrameworkBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/samsonangularrouting/js/app.js') }}"></script>
{% endblock %}


{% block body_content %}
    {% if app.request.xmlHttpRequest %}
        {{ parent() }}
    {% else %}
        <div id="loading" class="ng-cloak" ng-show="loading">Laden...</div>
        <section style="height: 100%" id="contents" ui-view ng-show="!loading">
            {{ parent() }}
        </section>
    {% endif %}
{% endblock %}

{% block full_body %}
    <div ng-controller="MainCtrl" style="height: 100%">
        {{ parent() }}
    </div>
{% endblock %}